node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

*-lock.json
yarn.lock

config.js
*.mp4
video_data/**/*
data.json

# @generated: @expo/next-adapter@2.1.57
/.expo/*
# Expo Web
/web-build/*
# Expo Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
# Next.js
/.next/*
/out/
# Next.js production
/build/
# Next.js dependencies
/.pnp
.pnp.js
# @end @expo/next-adapter

rethinkdb_data
