node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

*-lock.json
yarn.lock

config.js
*.mp4
video_data/**/*
data.json

rethinkdb_data
